.prime-div2{
    /* background-color: rgb(205, 215, 52); */
    padding: 30px 60px;
    position: relative;
    
}
.services-title{
    text-align: center;
    font-weight: 500;
    font-size: 40px;
    padding: 50px 0;
}