.prime-div3{
    position: relative;
    height:600px;
   
}
.prod-video{
    position: absolute;
    width: 100%;
    /* background-size: cover; */
    height: 100%;
    object-fit: cover;
}
.prod-info{
    position: absolute;
    padding: 40px;
    top:40px;
    /* left:50%; */
    line-height: 40px;
    left:50px;
    right:50px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    background-color: rgba(240, 238, 238, 0.2);
    color:rgb(19, 14, 14);
}